* {
    padding: 0;
    margin: 0;
}

body {
    font-family: 'poppins', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
}

.navbar-links {
    display: flex;
    column-gap: 20px;
    position: sticky;
}

.navbar-links a {
    text-decoration: none;
    color: #1D232C;
}

.navbar-links a:hover {
    text-decoration: underline;
    color: #1D232C;
}

.navbar-menu-toogle {
    display: none;
}

/* Side-Navbar*/
.side-navbar {
    background-color: #1D232C;
    color: white;
    width: 50%;
    height: 100%;
    position: fixed;
    top: 0;
    left: -60%;
    padding: 20px;
    transition: 1.5s;
}

/*Header*/

.header {
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 50px;
}

.header-button {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 10px;
    background-color: #1D232C;
    color: white;
    cursor: pointer;
}

.side-navbar-link {
    margin-bottom: 30px;

}

.side-navbar-links a {
    color: white;
    text-decoration: none;
}

.side-navbar-links a:hover {
    text-decoration: underline;
}

.service {
    padding: 20px;
}

.service-container-1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service-container-2 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.service-container-2 div {
    background-color: #f2f4f7;
    border-radius: 5px;
    padding: 10px;
}

.new-arrival {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-left: 20px;
}

.new-arrival-container {
    position: relative;
    flex-basis: 20%;
}

.new-arrival-container button {
    padding-left: 10%;
    padding-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    position: absolute;
    top: 50%;
    left: 18%;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

/*News*/
.news {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.news input {
    margin-top: 5px;
    padding: 11px;
    width: 80vw;
    margin-bottom: 10px;
    border: solid black 2px;
}

.news button {
    margin-top: 10px;
    color: #f2f4ff;
    background-color: #1D232C;
    border-radius: 10px;
    padding: 10px;


}

/* Footer*/
.footer {
    margin-top: 20px;
    padding: 20px;
    background-color: #1D232C;
    color: white;
}

/*products*/

.product-section{
    margin-top: 20px;
}
.product-search{
    width: 80%;
    border: solid black 2px;
    border-radius: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    margin: auto;
}
.product-search input{
    background-color: transparent;
    border: none;
    width: 100%;
}
.product-search input:focus{
  outline: none;
}
.products{
    padding: 20px;
    display: flex;
    gap: 10px;
    flex-wrap:wrap;
    justify-content: space-around;
}
.product-box{
    text-align: center;
    flex-basis: 20%;
    margin-top: 10px;
}
.product-box img{
    border-radius: 10px;
}

/* Media Query*/

@media screen and (max-width:700px) {
    .navbar-menu-toogle {
        display: block;
    }

    .navbar-links {
        display: none;
    }

    .header-image {
        display: none;
    }

    .service-container-1 {
        display: none;
    }

    .service-container-2 {
        flex-direction: column;
    }
}